## Inserindo dados em uma BD

- Criação de Connection Engine - Instanciando o a conexão com o banco de dados, um arquivo que sirva de Engine de Conexão  
- Importação da base de dados - .csv, .xlsx, txt...  
- Exportação para DB - Banco de Dados Relacinal (.db)  

Dessa forma, se cria o banco de dados no arquivo .db e uma tabela no banco a partir do DataFrame importado

In [12]:
import sqlite3
import pandas as pd
from IPython.display import display

""" ## Criação de Connection Engine -  """
conn = sqlite3.connect('03_sql_e_pandas.db')

""" ## Importação da base de dados """
df_data = pd.read_csv('..\\Docs\\Analisando Dados com Pandas & SQL\\SQL & Pandas\\bd_data.csv', index_col=0)

""" ## Exportação para DB """
df_data.index.name = 'index_name'
# df_data.to_sql('data', conn, index_label='index_name')

""" ## Criação de um cursor para enviar comandos SQL"""
c = conn.cursor()

*Obs: para abrir o SQLite Explorer na aba lateral do Vscode -> ctrl + shift + P -> Open DataBase*

## Comandos CREATE E DROP

Apresentação das formas de criar e deletar tabelas em um banco de dados.

In [ ]:
""" ## CREATE """
# c.execute('''CREATE TABLE products (
#         [product_id] INTEGER PRIMARY KEY, 
#         [product_name] TEXT, 
#         [price] INTEGER)
# ''')

""" ## DROP """
# c.execute('DROP TABLE products')
# c.execute('DROP TABLE data')

## INSERT

Apresentação das formas para inserção de dados em um banco a partir do Pandas ou SQL, de forma que fazendo pelo SQL é necessário instanciar um cursor que irá executar o comando e realizar o commit dos dados, enquanto para realizar a mesma insersão com o Pandas é possível converter um DataFrame para sql, se a tabela destino já for existente (e o parâmetro if_exists="append") haverá a insersão dos dados nela.

In [ ]:
""" ## INSERT - SQL """
# c = conn.cursor()
# c.execute('''INSERT INTO products (attibute) VALUES (0)''')
# conn.commit()

""" ## INSERT - Pandas """
# df = df_data.iloc[::-2]
# df.to_sql('data', conn, if_exists='append')

## SELECT, FROM E WHERE

Apresentação das formas para seleção (consulta) de dados de um banco a partir do Pandas ou SQL, de forma que fazndo pelo SQL é necessário instanciar o cursor que irá executar o comando, enquanto com o pandas pode-se importar os dados de um arquivo para um DataFrame e manipulá-los após.

In [ ]:
query = 'SELECT A, B, C FROM data WHERE A > 200 AND A < 230'
aux = None

""" ## SELECT - SQL """
# c.execute(query)
# aux = c.fetchall()

""" ## SELECT - Pandas """
df = pd.read_sql(query, con=conn)
# aux = df

display(aux)

*Obs: o método Pandas irá gerar um DataFrame com a consulta, enquanto o SQL irá retornar apenas uma lista com os dados da consulta*

## UPDATE e DELETE

Apresentação das formas para seleção atualização e deleção de dados de um banco a partir do SQL, sendo necessário instanciar um cursor que irá executar o comando e realizar o commit dos dados.

In [ ]:
""" ## UPDATE """
# c.execute('UPDATE data SET A=0, B=245 WHERE index_name=1')

""" ## DELETE """
# c.execute('DELETE FROM data WHERE index_name=1')

conn.commit()